<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
    </div>
    <div class="flex-none hidden sm:flex items-end gap-4">
      <div>
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
          <span class="badge badge-xs badge-error indicator-item"></span>
        </div>
      </div>

      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="p-1">
            <fa-icon [icon]="faCircleUser" class="text-2xl"></fa-icon>
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li [routerLink]="['/profile']" routerLinkActive="active">
            <a>
              <fa-icon [icon]="faUser"></fa-icon>
              Perfil
            </a>
          </li>
          <li routerLink="/settings" routerLinkActive="active"><a><fa-icon
                [icon]="faGear"></fa-icon>Ajustes</a></li>
          <li><a><fa-icon [icon]="faRightFromBracket"></fa-icon>Salir</a></li>
        </ul>
      </div>


    </div>
  </div>
</header>
