<header class="mb-2">
  <div class="navbar bg-base-200">
    <div class="ps-4">
      <a class="text-lg font-bold"></a>
    </div>
    <div class="flex grow justify-end px-2">
      <div class="flex items-center gap-4">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost rounded-field">
            <div class="avatar indicator avatar-placeholder">
              <small class="indicator-item badge badge-secondary badge-xs"></small>
                <div
                class="w-8 rounded-full"
                [ngClass]="{
                  'bg-neutral-200 text-neutral-800': (theme === 'dark'),
                  'bg-neutral text-neutral-content': (theme == 'light')
                }"
                >
                <span class="">{{ (user$ | async)?.letters }}</span>
              </div>
            </div>
          </div>

          <ul tabindex="0" class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow-sm">
            <li class="menu-title">
              <span>{{ (user$ | async)?.name }}</span>
            </li>
            <div class="divider my-0 py-0"></div>
            <li [routerLink]="['/home/profile']" routerLinkActive="active">
              <a>
                <fa-icon [icon]="faUser"></fa-icon>
                Perfil
              </a>
            </li>
            <li routerLink="/settings" routerLinkActive="active"><a><fa-icon [icon]="faGear"></fa-icon>Ajustes</a></li>
            <li (click)="signOut()"><a><fa-icon [icon]="faRightFromBracket"></fa-icon>Salir</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
