<header class="mb-2">
  <div class="navbar bg-base-200">
    <div class="ps-4">
      <a class="text-lg font-bold"></a>
    </div>
    <div class="flex grow justify-end px-2">
      <div class="flex items-center gap-4">
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
          <span class="badge badge-xs badge-error indicator-item"></span>
        </div>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost rounded-field">
            {{ user$ | async }}
            <div class="p-1">
              <fa-icon [icon]="faCircleUser" class="text-2xl"></fa-icon>
            </div>
          </div>
          <ul tabindex="0" class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow-sm">
            <li [routerLink]="['/home/profile']" routerLinkActive="active">
              <a>
                <fa-icon [icon]="faUser"></fa-icon>
                Perfil
              </a>
            </li>
            <li routerLink="/settings" routerLinkActive="active"><a><fa-icon [icon]="faGear"></fa-icon>Ajustes</a></li>
            <li (click)="signOut()"><a><fa-icon [icon]="faRightFromBracket"></fa-icon>Salir</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
