<div class="overflow-x-auto rounded-lg border border-[var(--border-table-color)]">
  @let invoices = invoices$ | async;

  @if (invoices === null) {
  <div class="flex flex-col gap-4 px-4 py-4">
    <div class="flex justify-between">
      <div class="skeleton h-12 w-1/5"></div>
      <div class="skeleton h-12 w-1/5"></div>
      <div class="skeleton h-12 w-1/5"></div>
    </div>
    <div class="flex justify-between">
      <div class="skeleton h-8 w-1/9"></div>
      <div class="skeleton h-8 w-1/9"></div>
      <div class="skeleton h-8 w-1/9"></div>
      <div class="skeleton h-8 w-1/9"></div>
      <div class="skeleton h-8 w-1/9"></div>
      <div class="skeleton h-8 w-1/9"></div>
      <div class="skeleton h-8 w-1/9"></div>
    </div>
    <div class="skeleton h-10 w-full"></div>
    <div class="skeleton h-10 w-full"></div>
  </div>
  }

  @else if (invoices.length === 0) {
  <div class="flex flex-col justify-center items-center gap-1 py-12">
    <fa-icon [icon]="faFileInvoiceDollar" class="text-9xl text-gray-300"
      [@fadeInDown]="{ value: '', params: { delay: '0ms' } }"></fa-icon>
    <div class="my-4 flex flex-col items-center gap-2 text-center"
      [@fadeInDown]="{ value: '', params: { delay: '150ms' } }">
      <span [innerHTML]="account_literal"></span>
      <span class="text-sm opacity-50 max-w-xl">Crea facturas fácilmente, sin complicaciones, y solicita tus pagos de
        manera rápida y sencilla.</span>
    </div>
    <button class="btn btn-success" (click)="onCreateInvoice()"
      [@fadeInDown]="{ value: '', params: { delay: '250ms' } }">
      <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
      Nueva factura
    </button>
  </div>
  }
  @else {
  <div class="flex justify-between flex-wrap items-end px-4 pt-4 pb-6">
    <fieldset class="fieldset p-0 w-full md:w-1/4">
      <legend class="fieldset-legend">Ordenar por:</legend>
      <select class="select">
        <option>Factura más reciente</option>
        <option>Factura más antigua</option>
      </select>
    </fieldset>
    <fieldset class="fieldset p-0 w-full md:w-1/3">
      <legend class="fieldset-legend">Buscar</legend>
      <label class="input">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input type="search" class="grow" />
        <kbd class="kbd kbd-sm">⌘</kbd>
        <kbd class="kbd kbd-sm">K</kbd>
      </label>
    </fieldset>

    <button class="btn btn-outline btn-success btn-block mt-6 md:mt-0 md:w-1/4" (click)="onCreateInvoice()">
      <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
      Nueva factura
    </button>
  </div>

  <table class="table border border-t-[var(--border-table-color)]">
    <thead>
      <tr>
        <th><span class="opacity-50">ID</span></th>
        <th>Cuenta</th>
        <th>Fecha</th>
        <th>Tarifa por día</th>
        <th>Días</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (invoice of invoices; track invoice) {
      <tr>
        <td>
          <span class="opacity-50">{{ invoice.invoice_id_short | uppercase }}</span>
          <span class="sr-only">id de cuenta: {{ invoice.invoice_id_short }}</span>
        </td>
        <td>
          <span class="opacity-50">{{ invoice.account_alias }}</span>
          <span class="sr-only">Nombre del cliente: {{ invoice.account_alias }}</span>
        </td>
        <td>
          <span class="opacity-50">{{ invoice.submited_at | date: 'dd-MM-yyyy' }}</span>
          <span class="sr-only">Fecha de envío: {{ invoice.submited_at | date: 'dd-MM-yyyy' }}</span>
        </td>
        <td>
          <span class="opacity-50">{{ invoice.rate }} €</span>
          <span class="sr-only">Tarifa por día: {{ invoice.rate }} euros</span>
        </td>
        <td>
          <span class="opacity-50">{{ invoice.days }}</span>
          <span class="sr-only">Dias: {{ invoice.days }}</span>
        </td>
        <td>
          <span class="opacity-50">{{ invoice.total }} €</span>
          <span class="sr-only">Total factura: {{ invoice.total }} euros</span>
        </td>
        <th>
          <div class="tooltip" data-tip="Editar factura">
            <button class="btn btn-ghost btn-xs" (click)="onViewInvoiceDetails(invoice.invoice_id_short)">
              <fa-icon [icon]="faPenToSquare"></fa-icon>
              <span class="sr-only">Editar factura</span>
            </button>
          </div>
          <div class="tooltip" data-tip="Ver factura">
            <button class="btn btn-ghost btn-xs" onclick="invoice_modal.showModal()">
              <fa-icon [icon]="faEye"></fa-icon>
              <span class="sr-only">Ver factura</span>
            </button>
          </div>
        </th>
      </tr>
      <dialog id="invoice_modal" class="modal modal-end" #invoice_modal>
        <div class="modal-box">
          <h3 class="font-bold text-lg">Vista previa de la factura</h3>
          <app-invoice-template [type]="'preview'" [inputData]="invoice"
            (outputData)="onOutputData($event)"></app-invoice-template>
          <div class="modal-action">
          </div>
        </div>
      </dialog>
      }
    </tbody>
  </table>
  }
</div>
