<div class="flex justify-center items-center">
  <div class="border-b border-white/10 flex flex-col py-8 justify-center items-center w-full sm:w-[50%]">
    <div class="flex justify-between items-center mb-4">
      <img
        [ngSrc]="'https://eixzlkeekabzogbzfgbr.supabase.co/storage/v1/object/public/stg_ordan_avatars/ordan_logo_dark.svg'"
        [alt]="'Ordan Logotipo'" width="155" height="73" priority>
    </div>
    <div class="bg-base-100 rounded-2xl border-0 md:border-1 border-dashed w-full p-6 sm:p-10">
      <form [formGroup]="signinForm" autocomplete="off" class="flex flex-col items-center justify-center gap-4"
        novalidate>
        <div class="flex justify-between items-center w-full">
          <div>
            <h2 class="text-base/7 font-semibold">Ingresar</h2>
            <p class="mt-1 text-sm/6 text-gray-400">Ingresa tus datos para acceder a tu cuenta</p>
          </div>
        </div>
        <div class="mt-10 flex flex-wrap gap-4 justify-between w-full">
          <fieldset class="fieldset w-full">
            <legend class="fieldset-legend">Correo Electrónico (Obligatorio)</legend>
            <label class="input validator w-full">
              <input type="email" formControlName="email" required />
            </label>
            @if (signinForm.get('email')?.hasError('required') === true) {
            <p class="validator-hint py-0 my-0">Campo requerido</p>
            } @else {
            <p class="validator-hint py-0 my-0">Correo electrónico inválido</p>
            }
          </fieldset>

          <fieldset class="fieldset w-full">
            <legend class="fieldset-legend">Contraseña (Obligatorio)</legend>
            <label class="input validator w-full">
              <input type="password" formControlName="password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z\d]).{6,}$" required />
            </label>
            @if (signinForm.get('password')?.hasError('required')) {
            <p class="validator-hint py-0 my-0">Campo requerido</p>
            } @else {
            <p class="validator-hint py-0 my-0">La contraseña debe tener al menos 6 caracteres, incluyendo una letra
              mayúscula, una letra minúscula, un número y un carácter especial.</p>
            }
          </fieldset>


        </div>
        <div class="flex justify-center gap-2 mt-6">
          <button class="btn btn-primary" (click)="signin()" [disabled]="signinForm.invalid">
            @if (isLoading === false) {
            Ingresar
            } @else {
            &nbsp;
            &nbsp;
            <span class="loading loading-spinner"></span>
            &nbsp;
            &nbsp;
            }
          </button>
        </div>
      </form>
      <div class="flex justify-center items-center gap-1 my-4">
        <small>¿No tienes una cuenta? <a routerLink="/auth/signup" class="link">Crear cuenta</a> </small>
      </div>
    </div>
  </div>
</div>
