<div class="flex relative w-full h-screen">
  <app-sidebar></app-sidebar>
  <main class="w-full">
    <app-header></app-header>
    <div class="px-6 py-2">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </main>
</div>


<div class="toast toast-center">
  @for (notification of (notifications$ | async); track $index) {
    <div
      [@fadeInOut]
      [ngClass]="{
        'alert-success': notification.type === 'success',
        'alert-error': notification.type === 'error',
        'alert-info': notification.type === 'info'
      }"
      class="mb-2 alert alert-soft"
    >
      <span>{{ notification.message }}</span>
    </div>
  }
</div>
