<div class="overflow-x-auto rounded-lg border border-[var(--border-table-color)]">
  @let accounts = accounts$ | async;

  @if (accounts === null) {
  <div class="flex flex-col gap-4 px-4 py-4">
    <div class="flex gap-9">
      <div class="skeleton h-12 w-full"></div>
      <div class="skeleton h-12 w-full"></div>
      <div class="skeleton h-12 w-full"></div>
    </div>
    <div class="flex justify-between">
      <div class="skeleton h-8 w-1/6"></div>
      <div class="skeleton h-8 w-1/6"></div>
      <div class="skeleton h-8 w-1/6"></div>
      <div class="skeleton h-8 w-1/6"></div>
    </div>
    <div class="skeleton h-16 w-full"></div>
    <div class="skeleton h-20 w-full"></div>
    <div class="skeleton h-20 w-full"></div>
  </div>
  }

  @else if (accounts.length === 0) {
  <div class="flex justify-center py-4">
    <p class="text-sm opacity-50">No hay cuentas disponibles</p>
  </div>
  }

  @else {
  <div class="flex justify-between items-end px-4 pt-4 pb-6">
    <fieldset class="fieldset p-0">
      <legend class="fieldset-legend">Ordenar por:</legend>
      <select class="select">
        <option>Factura más reciente</option>
        <option>Factura más antigua</option>
      </select>
    </fieldset>
    <fieldset class="fieldset p-0">
      <legend class="fieldset-legend">Buscar</legend>
      <label class="input">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input type="search" class="grow" />
        <kbd class="kbd kbd-sm">⌘</kbd>
        <kbd class="kbd kbd-sm">K</kbd>
      </label>
    </fieldset>

    <button class="btn btn-outline btn-success" (click)="onCreateAccount()">
      <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
      Nueva cuenta
    </button>
  </div>


  <table class="table border border-t-[var(--border-table-color)]">
    <!-- head -->
    <thead>
      <tr>
        <th><span class="opacity-50">ID</span></th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>

      @for (account of accounts; track account) {
      <tr>
        <td>
          <span class="opacity-50">{{ account.account_id_short | uppercase }}</span>
          <span class="sr-only">id de cuenta: {{ account.account_id_short }}</span>
        </td>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                @if (account.avatar) {
                <img [ngSrc]="account.avatar" alt="Avatar de {{ account.alias }}" width="48" height="48" />
                } @else {
                <app-default-avatar [Letter]="account.alias.charAt(0).toUpperCase()"></app-default-avatar>
                }
              </div>
            </div>
            <div>
              <div class="font-bold">{{ account.alias }}</div>
              <div class="text-sm opacity-50">{{ account.job_role }}</div>
            </div>
          </div>
        </td>
        <td>
          <span class="badge" [ngClass]="account.status === true ? 'badge-success' : 'badge-error'">
            {{ account.status === true ? 'Activa' : 'Inactiva' }}
          </span>
          <span class="sr-only">Estado: {{ account.status === true ? 'Activa' : 'Inactiva' }}</span>
        </td>
        <th>
          <div class="tooltip" data-tip="Ver detalles">
            <button class="btn btn-ghost btn-xs" (click)="onViewAccountDetails(account.account_id_short)">
              <fa-icon [icon]="faEye"></fa-icon>
              <span class="sr-only">Ver detalles</span>
            </button>
          </div>
          <div class="tooltip" data-tip="Ver facturas">
            <button class="btn btn-ghost btn-xs" (click)="onViewAccountInvoices(account.account_id)">
              <fa-icon [icon]="faFileInvoiceDollar"></fa-icon>
              <span class="sr-only">Ver facturas</span>
            </button>
          </div>
        </th>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
